﻿@page
@model TechniquesModel
@{
}

<div class="agenda">
    <h1>Techniques</h1>
    <div class="row">
        @foreach (var technique in Model.Techniques)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="card shadow word h-100">
                    @if(Model.Images.Count() > 0){
                    @if (Model.Images[0] != null)
                    {
                        <img src="@Model.Images[0].Link" class="card-img-top">
                    }
                    else
                    {
                        <img src="https://images.squarespace-cdn.com/content/54749e6fe4b01cc66a29362c/1489323942353-9ZHAKJQX6VAFN222WZKO/tkdlogo.jpg?content-type=image%2Fjpeg" class="card-img-top">
                    }
                    }
                <div class="card-footer">
                    <div>
                        <p>@technique.Word.Wterm</p>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-page="Technique" asp-route-id="@technique.Tid">Go!</a>
                        <a class="btn btn-primary" authz-policy="Admin" asp-page="/Admin/Techniques/Edit" asp-route-id="@technique.Tid">Edit</a>
                    </div>
                </div>
                </div>
            </div>
        }
    </div>
</div>