﻿@page
@model TechniqueModel
@{
}
    <div class="row">

        <div class="col-lg-6 col-sm-12">
            @if(Model.Images.Count > 0){
            <img class="col-12" src="@Model.Images[0].Link"\>
            }
        </div>
        <div class="col-lg-6 col-sm-12">@Model.Technique.Tdescription</div>
    </div>
    <div class="row">
        @if(Model.Images.Count > 0){
        @foreach(var image in Model.Images)
        {
            <div class="col-md-3 md-4" style="max-width: 300px">
                <div class="card shadow word h-100">
                    <img src="@image.Link" class="card-img-top">
                </div>
                <div class="card-body">
                    Hallo
                </div>
            </div>
        }
        }
    </div>