﻿@page
@model WordsModel
@{
}
 
<div class="container">
    <div class="row">
        @foreach (var listword in Model.Words)
        {
            foreach(var word in listword.Words)
            {
                <div class="py-sm-3">
                    <div class="card" style="width: 16rem;">
                        @if (listword.WordImages.Count > 0)
                        {
                            <div class="card-img-top" src="@listword.WordImages.First().Image.Link" />}
                        else
                        {
                            <img class="card-img-top" style="background-color:black;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Yin_yang.svg/1920px-Yin_yang.svg.png"  alt="Card image cap">
                        }
                        <div class="card-body"><p>@word.Wterm</p></div>
                    </div>
                </div>
            }
        }
    </div>
</div>
