﻿@page "{id}"
@model EditWordModel
@{
}
<h3>Edit Word</h3>

@foreach (var word in Model.Words)
{
    <form method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="@word.Wid" type="hidden" />
        <input asp-for="@word.Lcode" type="hidden" />
        <div class="form-group">
            <label asp-for="@word.Wterm" class="col-md-2 control-label">@word.Lcode</label>
            <div class="col-md-10">
                <input asp-for="@word.Wterm" class="form-control" />
                <span asp-validation-for="@word.Wterm" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>

}

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
