﻿@page
@model TkdFront.Pages.Sequences.chong_jiModel
@{
    ViewData["Title"] = "chong_ji";
}

<h1>chong_ji</h1>

<img src="https://wallpapersite.com/images/wallpapers/goku-2048x2048-dragon-ball-super-5k-7373.jpg" style="max-height: 500px"/>