﻿@page
@model TkdFront.Pages.Sequences.IndexModel
@{
    ViewData["Title"] = "List of all the things";
}

<h1>Index</h1>
<div class="container">
    <div class="row">
        <a class="card-link text-dark" href="/sequences/chong_ji">
            <div class="py-sm-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="https://wallpapersite.com/images/wallpapers/goku-2048x2048-dragon-ball-super-5k-7373.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p>Chong ji</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="card-link text-dark" href="/sequences/tan_gun">
            <div class="py-sm-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="https://www.3wallpapers.fr/wp-content/uploads/2016/08/Dragon-Ball-Vegeta-3Wallpapers-iPhone-Parallax.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p>Tan gun</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
