﻿@page
@model TkdFront.Pages.Sequences.tan_gunModel
@{
    ViewData["Title"] = "tan_gun";
}

<h1>tan_gun</h1>

<img src="https://www.3wallpapers.fr/wp-content/uploads/2016/08/Dragon-Ball-Vegeta-3Wallpapers-iPhone-Parallax.jpg" style="max-height: 800px" />