﻿@page "{id}"
@model TkdFront.Pages.Admin.Techniques.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Technique @Model.Technique.Tid</h1>

<div>
    <form method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger" />
        <input asp-for="@Model.Technique.Tid" type="hidden" />
        <input asp-for="@Model.Technique.Wid" type="hidden" />
        <input asp-for="@Model.Technique.Lcode" type="hidden" />

        <div class="form-group">
            <label for="Technique.Tdescription">Description</label>
            <input asp-for="@Model.Technique.Tdescription" class="form-control" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
